*,
*::before,
*::after {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	color: #22262A;
	font: 400 16px Arial, Helvetica, sans-serif;
}

a {
	color: inherit;
	text-decoration: none;
	transition: 0.4s;
}

ul,
li {
	list-style-type: none;
}

button {
	display: block;
	border: none;
	font: inherit;
	background-color: transparent;
	cursor: pointer;
	transition: 0.4s;
}

.container {
	max-width: 1240px;
	margin: 0 auto;
	padding: 0 5px;
}

/* HEADER */

.header__wrap {
	display: flex;
	align-items: center;
	justify-content: space-between;
	padding: 20px 0 50px;
}

.header__title {
	width: 80%;
}

.header__auth {
	width: 20%;
	display: flex;
	justify-content: space-between;
}

.header__auth__item_logout {
	margin-left: auto;
}

.header__auth__item:hover {
	text-decoration: underline;
}

/* MAIN PAGE */

.main__wrap {
	display: flex;
	flex-direction: column;
	gap: 8px;
}

.main__clients {
	display: flex;
	justify-content: space-between;
	margin-bottom: 5px;
}

.main__clients__item {
	width: 15%;
	text-align: center;
}

.main__clients__item:nth-child(1) {
	width: 5%;
}

.main__clients__item:nth-child(2) {
	width: 25%;
}

.main__clients__item:nth-child(5) {
	width: 23%;
}

.status__select {
	font-size: 16px;
	text-align: center;
}

.status__form {
	display: flex;
	justify-content: space-between;
}

.status__btn {
	font-size: 14px;
}

.status__btn:hover {
	text-decoration: underline;
}

/* FORMS */

.form__wrap {
	max-width: 800px;
	border: 1px solid black;
	margin: 0 auto 0;
	padding: 30px;
	border-radius: 5px;
}

.form__title {
	font-size: 24px;
	font-weight: 400;
	text-align: center;
}

.users__form {
	display: flex;
	flex-direction: column;
	gap: 25px;
}

.form__item {
	display: flex;
	flex-direction: column;
	gap: 5px;
}

.form__label {
	font-size: 20px;
}

.form__field {
	border: 1px solid black;
	font-size: 16px;
	padding: 10px 5px;
	border-radius: 5px;
}

.form__button {
	background-color: black;
	padding: 10px 5px;
	color: #fff;
}

.form__button:hover {
	background: #404041;
}

.error-text {
	color: #dc0c0c;
	font-size: 14px;
	padding: 10px 0;
}