{% extends 'base.html' %}


{% block content %}
<div class="form__wrap">
    <p class="form__title">Вход</p>
    {% if form.non_field_errors %}
        {% for error in form.non_field_errors %}
        <p class="error-text">{{ error }}</p>
        {% endfor %}
    {% endif %}
    <form method="post" class="users__form">
        {% csrf_token %}
        
        <div class="form__item">
            <label for="id_username" class="form__label">Логин</label>
            <input type="text" name="username" class="form__field" id="id_name" required>
        </div>
        <div class="form__item">
            <label for="id_password" class="form__label">Пароль</label>
            <input type="password" name="password" class="form__field" id="id_password" required> 
        </div>

        <p>Еще нет аккаунта? - <a href="{% url 'register' %}" class="header__auth__item">Зарегистрироваться</a></p>
        
        <button class="form__button" type="submit">Войти</button> 
    </form>
</div>
{% endblock %}