{% extends 'base.html' %}


{% block content %}

<div class="main__wrap">
    <ul class="main__clients">
        <li class="main__clients__item">Номер счета</li>
        <li class="main__clients__item">ФИО</li>
        <li class="main__clients__item">Дата рождения</li>
        <li class="main__clients__item">ИНН</li>
        <li class="main__clients__item">Статус</li>
    </ul>
    <hr>
    {% for client in clients %}
    <ul class="main__clients">
        <li class="main__clients__item">{{ client.account_number }}</li>
        <li class="main__clients__item">
            {{ client.last_name }} {{ client.first_name }} {{ client.middle_name }}
        </li>
        <li class="main__clients__item">{{ client.date_of_birth }}</li>
        <li class="main__clients__item">{{ client.inn }}</li>
        <li class="main__clients__item">
            <form action="" method="post" class="status__form">
                {% csrf_token %}
                <input type="hidden" name="client_id" value="{{ client.id }}">
                <select class="status__select" name="status">
                        <option value="{{ client.status }}">{{ client.status }}</option>
                        {% for choice in client.get_choices %}
                            <option value="{{ choice }}">{{ choice }}</option>
                        {% endfor %}
                </select>
                <button class="status__btn" type="submit">Обновить статус</button>
            </form>
        </li>
    </ul>
    <hr>
    {% endfor %}
</div>

{% endblock %}